#fslink {
color : #ff4719;
}
#input {
margin : 10px 0 5px 5px;
width : 14em;
height : 35px;
font-size : 17px;
font-family : Times, sans-serif;
border : none;
outline : none;
position : absolute;
}
#search-bar {
position : fixed;
top : 0;
z-index : 3;
}
#search-container {
position : absolute;
z-index : 3;
margin-top : 50px;
}
#search-nav {
width : 230px;
max-height : 250px;
background-color : rgba(255, 255, 255, 0.8);
overflow : scroll;
}
#scroller {
max-height : 250px;
overflow : scroll;
margin : 0 20px;
}
.reset-container {
position : absolute;
z-index : 2;
width : 100%;
bottom : 0;
float : right;
}
#reset, #reset:focus {
float : right;
height : 60px;
width : 60px;
float : right;
margin : 0 10px 15px 0;
border-radius : 10%;
background-color : #2e1f0f;
opacity : 0.89999997615814208984375;
font-size : 12px;
color : white;
outline : none;
}
#reset:hover {
background-color : purple;
color : #2e1f0f;
outline : none;
}

.offline-ui {
display : none;
position : fixed;
background : white;
z-index : 2000;
margin : auto;
top : 0;
left : 0;
right : 0;
}
.offline-ui .offline-ui-content:before {
display : inline;
}
.offline-ui .offline-ui-retry {
display : none;
}
.offline-ui .offline-ui-retry:before {
display : inline;
}
.offline-ui.offline-ui-up.offline-ui-up-5s {
display : block;
}
.offline-ui.offline-ui-down {
display : block;
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-retry {
display : block;
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
display : none;
}
@keyframes offline-dropin {
0% {
transform : translateY(0);
opacity : 0;
}
1% {
transform : translateY(-800px);
opacity : 0;
}
2% {
transform : translateY(-800px);
opacity : 1;
}
100% {
transform : translateY(0);
opacity : 1;
}
}
@keyframes offline-dropout {
0% {
transform : translateY(0);
}
100% {
transform : translateY(-800px);
}
}
@keyframes offline-rotation {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(359deg);
}
}
.offline-ui {
border-radius : 0 0 4px 4px;
font-family : "Helvetica Neue", sans-serif;
font-weight : 300;
padding : 1em;
width : 38em;
max-width : 100%;
background : black;
color : #cccccc;
overflow : hidden;
}
@media (max-width:38em) {
.offline-ui {
border-radius : 0;
}
}
.offline-ui .offline-ui-content {
padding-left : 2em;
}
.offline-ui .offline-ui-content:before {
line-height : 1.25em;
}
.offline-ui .offline-ui-content:after {
border-radius : 50%;
content : " ";
display : block;
position : absolute;
top : 0;
bottom : 0;
left : 1em;
margin : auto;
height : 1em;
width : 1em;
}
.offline-ui .offline-ui-retry {
position : absolute;
right : 3em;
top : 0;
bottom : 0;
background : rgba(255, 255, 255, 0.2);
text-decoration : none;
color : inherit;
line-height : 3.5em;
height : 3.5em;
margin : auto;
padding : 0 1em;
}
.offline-ui.offline-ui-up {
animation : offline-dropout 0.5s 2s forwards;
}
.offline-ui.offline-ui-up .offline-ui-content:after {
background : #80d580;
}
.offline-ui.offline-ui-down {
animation : offline-dropin 0.5s;
}
.offline-ui.offline-ui-down .offline-ui-content:after {
background : #e24949;
}
.offline-ui.offline-ui-down.offline-ui-connecting, .offline-ui.offline-ui-down.offline-ui-waiting {
padding-right : 3em;
}
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:after, .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content:after {
background : #e24949;
}
.offline-ui.offline-ui-down.offline-ui-connecting:after, .offline-ui.offline-ui-down.offline-ui-waiting:after {
animation : offline-rotation 0.7s linear infinite;
border-radius : 50%;
content : " ";
display : block;
position : absolute;
right : 1em;
top : 0;
bottom : 0;
margin : auto;
height : 1em;
width : 1em;
border : transparent solid 2px;
border-top-color : rgba(255, 255, 255, 0.5);
border-left-color : rgba(255, 255, 255, 0.5);
opacity : 0.699999988079071044921875;
}
.offline-ui.offline-ui-down.offline-ui-waiting {
padding-right : 11em;
}
.offline-ui.offline-ui-down.offline-ui-waiting.offline-ui-reconnect-failed-2s {
padding-right : 0;
}
.offline-ui .offline-ui-retry:before {
content : "Reconnect";
}
.offline-ui.offline-ui-up .offline-ui-content:before {
content : "Your computer is connected to the internet.";
}
@media (max-width:1024px) {
.offline-ui.offline-ui-up .offline-ui-content:before {
content : "Your device is connected to the internet.";
}
}
@media (max-width:568px) {
.offline-ui.offline-ui-up .offline-ui-content:before {
content : "Your device is connected.";
}
}
.offline-ui.offline-ui-down .offline-ui-content:before {
content : "Your computer lost its internet connection.";
}
@media (max-width:1024px) {
.offline-ui.offline-ui-down .offline-ui-content:before {
content : "Your device lost its internet connection.";
}
}
@media (max-width:568px) {
.offline-ui.offline-ui-down .offline-ui-content:before {
content : "Your device isn't connected.";
}
}
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
content : "Attempting to reconnect...";
}
@media (max-width:568px)
@media (max-width:568px)
@media (max-width:568px)
@media (max-width:568px)
@media (max-width:568px)
@media (max-width:568px)
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
display : none;
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
content : "Refresh your screen when internet connection is back";
}